<!DOCTYPE html>
<html>
<head>
  <title>My Projects</title>
</head>
<body>
  <h2>Welcome, <%= username %></h2>
  <h3>Your Projects:</h3>
  <ul>
    <% projects.forEach(project => { %>
      <li><strong><%= project.name %></strong>: <%= project.description %></li>
    <% }) %>
  </ul>
</body>
</html>
